{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>

<div class="container">

    <h2>Login</h2>

    {% if messages %}
        {% for message in messages %}
            <p style="color:red; text-align:center;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST">

        {% csrf_token %}

        <input
    type="text"
    id="username"
    name="username"
    placeholder="Username"
    autocomplete="username"
    required
>

        <br><br>

        <div class="password-box">

<input
    type="password"
    id="password"
    name="password"
    placeholder="Password"
    autocomplete="current-password"
    required
>

<span class="eye" onclick="togglePassword('password', this)">
    <i class="fa-solid fa-eye"></i>
</span>

</div>
<div id="login-error"></div>
        <br><br>

       <button type="submit" id="login-btn">

<span id="login-text">
Login
</span>

<span id="login-spinner" style="display:none;">
<i class="fa-solid fa-spinner fa-spin"></i>
</span>

</button>
<br>

<a href="#">
Forgot Password?
</a>

<br><br>
    </form>

    <br>

    <a href="{% url 'accounts:register' %}">
    Don't have an account? Register
</a>

</div>

<script>

// Show Hide Password

function togglePassword(id, element){

    const input = document.getElementById(id);
    const icon = element.querySelector("i");


    if(input.type === "password"){

        input.type="text";

        icon.classList.remove("fa-eye");
        icon.classList.add("fa-eye-slash");

    }
    else{

        input.type="password";

        icon.classList.remove("fa-eye-slash");
        icon.classList.add("fa-eye");

    }

}


// Loading Button

const loginForm = document.querySelector("form");

const loginBtn = document.getElementById("login-btn");

const loginText = document.getElementById("login-text");

const loginSpinner = document.getElementById("login-spinner");


loginForm.addEventListener("submit", function(){

    loginBtn.disabled = true;

    loginText.innerHTML = "Logging in...";

    loginSpinner.style.display="inline-block";

});

</script>

</body>
</html>