{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>

<div class="container">

    <h2>Create Account</h2>

    {% if messages %}
    {% for message in messages %}

        <div class="message {{ message.tags }}">
            {{ message }}
        </div>

    {% endfor %}
{% endif %}

    <form method="POST">

        {% csrf_token %}

        <input
            type="text"
            name="username"
            placeholder="Username"
            required
        >
        

        <br><br>
        <input
    type="text"
    name="first_name"
    placeholder="First Name"
    required
>

<br><br>

<input
    type="text"
    name="last_name"
    placeholder="Last Name"
    required
>

<br><br>

        <input
            type="email"
            name="email"
            placeholder="Email"
            required
        >

        <br><br>

       <div class="password-box">
    <input 
        type="password" 
        name="password" 
        id="password"
        placeholder="Enter Password"
        required
    >

    <span class="eye" onclick="togglePassword('password')">
        👁
    </span>
</div>

<br>

<label>
    <input type="checkbox" onclick="showPassword()">
    Show Password
</label>

<br><br>

<div class="password-box">
    <input 
        type="password" 
        name="confirm_password" 
        id="confirm_password"
        placeholder="Confirm Password"
        required
    >

    <span class="eye" onclick="togglePassword('confirm_password')">
        👁
    </span>
</div>

<br>

        <button type="submit">
            Register
        </button>

    </form>

    <br>

    <a href="{% url 'login' %}">
        Already have an account? Login
    </a>

</div>
<script>

function showPassword() {

    let password = document.getElementById("password");
    let confirmPassword = document.getElementById("confirm_password");

    if (password.type === "password") {

        password.type = "text";
        confirmPassword.type = "text";

    } else {

        password.type = "password";
        confirmPassword.type = "password";

    }

}

</script>

</body>
</html>