{% load static %}
<!DOCTYPE html>
<html lang="en-IN">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bagodih Village Portal | Digital Gram Panchayat | Koderma, Jharkhand</title>

    <meta name="description"
        content="Welcome to Bagodih Village Portal. Find government schemes, jobs, emergency contacts, village directory, marketplace, education resources and latest village updates in one place.">

    <meta name="keywords"
        content="Bagodih, Bagodih Village, Bagodih Gram Panchayat, Jainagar, Koderma, Jharkhand, Village Portal, Government Schemes, Jobs, Emergency Contacts">

    <meta name="author" content="Bagodih Village Portal">

    <meta name="robots" content="index, follow">

    <meta name="language" content="English">

    <meta name="theme-color" content="#2f6b4d">

    <link rel="canonical" href="https://www.bagodih.in/">

    
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">


    <meta property="og:title" content="Bagodih Village Portal">

    <meta property="og:description"
        content="Digital portal for Bagodih Gram Panchayat. Government Schemes, Jobs, Emergency Services, Marketplace, Education and more.">

    <meta property="og:type" content="website">

    <meta property="og:image" content="{% static 'images/og-image.jpg' %}">

    <meta property="og:url" content="https://www.bagodih.in/">

    
    <meta name="twitter:card" content="summary_large_image">

    <meta name="twitter:title" content="Bagodih Village Portal">

    <meta name="twitter:description"
        content="Official Digital Village Portal of Bagodih Gram Panchayat">

    <meta name="twitter:image" content="{% static 'images/og-image.jpg' %}">

    
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <a class="skip-link" href="#main-content">
    Skip to Main Content
</a>

    <header>

    <a href="index.html" class="logo">

        <i class="fa-solid fa-house home-icon"></i>

        <div class="logo-text">
            <h2>BAGODIH</h2>
            <p>Hamara Gaon, Hamari Pehchan</p>
        </div>

    </a>

    <nav>

<a href="#emergency">Emergency</a>
<a href="#schemes">Schemes</a>
<a href="#marketplace">Marketplace</a>
<a href="#jobs">Jobs</a>
<a href="#education-corner">Education</a>
<a href="#business">Directory</a>


<li class="nav-item d-flex align-items-center me-3">

    <button id="themeToggle" class="theme-btn">

        <i class="fa-solid fa-moon"></i>

    </button>

</li>
</nav>

<div class="nav-btn">

{% if user.is_authenticated %}

<span class="welcome-user">
    Welcome {{ user.username }} ,
</span>

{% if user.is_superuser %}
    <a href="/admin/">Admin Panel</a>
{% endif %}

<a href="{% url 'accounts:logout' %}" class="register-btn">
    Logout
</a>


{% else %}

<a href="{% url 'accounts:login' %}" class="nav-login">
    Login
</a>

<a href="{% url 'accounts:register' %}" class="register-btn">
    Register
</a>

{% endif %}

</div>

</header>

    <main id="main-content">

<section class="hero">

        <span class="location">
            Bagodih , Jharkhand
        </span>

        <h1>Apna Gaon, Digital Gaon</h1>

        <p>
            Complaints, schemes, jobs, emergency contacts —
            sab ek jagah.
        </p>

        <p>
            Apni panchayat se directly connected raho.
        </p>

        <div class="search-box">

            <input type="search" placeholder="Search schemes, electricians, jobs..." aria-label="Search">
            <button type="button" aria-label="Search Village Information">Search</button>

            
        </div>

        <div class="stats">

            <div>
    <h2 class="counter" data-target="7500">0</h2>
    <span>Population</span>
</div>

<div>
    <h2 class="counter" data-target="43">0</h2>
    <span>Issues Resolved</span>
</div>

<div>
    <h2 class="counter" data-target="8">0</h2>
    <span>Pending Complaints</span>
</div>

<div>
    <h2 class="counter" data-target="3">0</h2>
    <span>Upcoming Events</span>
</div>

        </div>

    </section>
<section class="quick-access">

    <div class="section-title">

        <h2>Quick Access</h2>

        <a href="#">View All →</a>

    </div>

    <div class="card-container">

        <div class="card">

            <div class="icon green"><i class="fa-solid fa-exclamation"></i></div>
            

            <h3>
                <a href="{% url 'complaints:submit_complaint' %}">
Submit Complaint
</a>
</h3>

<p>
Road, Water, Electricity & Other Issues
</p>

        </div>

        <div class="card">

            <div class="icon blue"><i class="fa-solid fa-file-lines"></i></div>

            <h3>Gov Schemes</h3>

            <p>PM Kisan, Ayushman</p>

        </div>

        <div class="card">

            <div class="icon yellow"><i class="fa-solid fa-briefcase"></i></div>

            <h3>Jobs</h3>

            <p>Farm, Driver, Teacher</p>

        </div>

        <div class="card">

            <div class="icon pink"><i class="fa-solid fa-store"></i></div>

            <h3>Marketplace</h3>

            <p>Buy & Sell Products</p>

        </div>

        <div class="card">

            <div class="icon purple"><i class="fa-solid fa-file-pen"></i></div>

            <h3>Education</h3>

            <p>Notes & Scholarship</p>

        </div>

        <div class="card">

            <div class="icon green"><i class="fa-solid fa-map-location-dot"></i></div>

            <h3>Directory</h3>

            <p>Doctors, Teachers</p>

        </div>

        <div class="card">

            <div class="icon red"><i class="fa-solid fa-magnifying-glass"></i></div>

            <h3>Lost & Found</h3>

            <p>Missing Items</p>

        </div>

        <div class="card">

            <div class="icon yellow"><i class="fa-solid fa-file"></i></div>

            <h3>Documents</h3>

            <p>Birth, Income, Caste</p>

        </div>

    </div>

</section>

<section class="updates">

    

        <div class="complaint-list">
            <div class="complaints">

        <div class="section-title">

            <h2>Recent Complaints</h2>

            <a href="#">View All →</a>

        </div>

            <div class="complaint-item">

                <span class="dot yellow"></span>

                <div>

                    <h4>Street light not working</h4>

                    <p>Ward 3 • 2 days ago</p>

                </div>

                <span class="status progress">In Progress</span>

            </div>


            <div class="complaint-item">

                <span class="dot green"></span>

                <div  class="camo">

                    <h4>Water Supply Issue</h4>

                    <p>Ward 1 • 5 days ago</p>

                </div>

                <span class="status solved">Resolved</span>

            </div>


            <div class="complaint-item">

                <span class="dot red"></span>

                <div>

                    <h4>Road damage near school</h4>

                    <p>Ward 5 • 1 day ago</p>

                </div>

                <span class="status pending">Pending</span>

            </div>
            <div class="file-complaint">
                <a href="{% url 'complaints:submit_complaint' %}">
+ File a Complaint →
</a>
            </div>

        </div>

    </div>

    <div class="announcements">

        <div class="section-title">

            <h2>Announcements</h2>

            <a href="#">View All →</a>

        </div>


        <div class="announcement">

            <div class="date-box">

                <h3>26</h3>

                <span>JUN</span>

            </div>

            <div>

                <h4>Panchayat Meeting</h4>

                <p>All wards • 10:00 AM</p>

            </div>

        </div>



        <div class="announcement">

            <div class="date-box">

                <h3>30</h3>

                <span>JUN</span>

            </div>

            <div>

                <h4>PM Kisan Registration</h4>

                <p>Gram Sevak Office</p>

            </div>

        </div>



        <div class="announcement">

            <div class="date-box">

                <h3>15</h3>

                <span>JUL</span>

            </div>

            <div>

                <h4>Village Sports Competition</h4>

                <p>Kabaddi • Cricket • Athletics</p>

            </div>

        </div>

    </div>

</section>


<section class="emergency" id="emergency">

    <div class="section-title">

        <h2>Emergency Contacts</h2>

    </div>

    <div class="emergency-grid">

        <div class="em-card ambulance">

            <i class="fa-solid fa-truck-medical"></i>

            <h3>Ambulance</h3>

            <p>108</p>

        </div>

        <div class="em-card police">

            <i class="fa-solid fa-shield-halved"></i>

            <h3>Police</h3>

            <p>100</p>

        </div>

        <div class="em-card fire">

            <i class="fa-solid fa-fire-flame-curved"></i>

            <h3>Fire Brigade</h3>

            <p>101</p>

        </div>

        <div class="em-card hospital">

            <i class="fa-solid fa-hospital"></i>

            <h3>PHC Hospital</h3>

            <p>2.3 km Away</p>

        </div>

    </div>

</section>


<section class="schemes" id="schemes">

    <div class="section-title">

        <h2>Government Schemes</h2>

        <a href="#">View All →</a>

    </div>

    <div class="scheme-container">

        <div class="scheme-card">

            <div class="scheme-icon green-bg">
                <i class="fa-solid fa-tractor"></i>
            </div>

            <h3>PM Kisan Yojana</h3>

            <p>
                Financial assistance for eligible farmers.
            </p>

            <button>Know More</button>

        </div>

        <div class="scheme-card">

            <div class="scheme-icon blue-bg">
                <i class="fa-solid fa-heart-pulse"></i>
            </div>

            <h3>Ayushman Bharat</h3>

            <p>
                Free health insurance up to ₹5 Lakhs.
            </p>

            <button>Know More</button>

        </div>

        <div class="scheme-card">

            <div class="scheme-icon yellow-bg">
                <i class="fa-solid fa-graduation-cap"></i>
            </div>

            <h3>Scholarship</h3>

            <p>
                Government scholarships for students.
            </p>

            <button>Know More</button>

        </div>

        <div class="scheme-card">

            <div class="scheme-icon purple-bg">
                <i class="fa-solid fa-person-digging"></i>
            </div>

            <h3>MGNREGA</h3>

            <p>
            Employment opportunities under MGNREGA.
            </p>

            <button>Know More</button>

        </div>

    </div>

</section>
<section class="marketplace" id="marketplace">

    <div class="section-title">

        <h2>Village Marketplace</h2>

        <a href="#">View All →</a>

    </div>

    <div class="market-grid">

        <div class="market-card">

           <img src="{% static 'images/wheat.jpg' %}" alt="Rice" loading="lazy">

            <div class="market-content">

                <h3>Fresh Wheat</h3>

                <p>10 Quintals Available</p>

                <span class="price">₹2500 / Quintal</span>

                <button>Contact Seller</button>

            </div>

        </div>

        <div class="market-card">

            <img src="{% static 'images/rice.jpg' %}" alt="Rice" loading="lazy">

            <div class="market-content">

                <h3>Premium Rice</h3>

                <p>25 Quintals Available</p>

                <span class="price">₹3200 / Quintal</span>

                <button>Contact Seller</button>

            </div>

        </div>

        <div class="market-card">

            <img src="{% static 'images/veg.jpg' %}" alt="Vegitable" loading="lazy">

            <div class="market-content">

                <h3>Fresh vegitable</h3>

                <p>Home Delivery Available</p>

                <span class="price">₹30 /kg</span>

                <button>Contact Seller</button>

            </div>

        </div>

        <div class="market-card">

            <img src="{% static 'images/furniture.jpg' %}" alt="Furniture" loading="lazy">

            <div class="market-content">

                <h3>Wooden Furniture</h3>

                <p>Different Designs Different Prices</p>

                <span class="price">Starting at ₹4000</span>

                <button>Contact Seller</button>

            </div>

        </div>

    </div>

</section>
<section class="jobs" id="jobs">

    <div class="section-title">

        <h2>Latest Job Opportunities</h2>

        <a href="#">View All →</a>

    </div>

    <div class="job-container">

        <div class="job-card">

            <div class="job-top">

                <i class="fa-solid fa-tractor"></i>

                <span class="full-time">Full Time</span>

            </div>

            <h3>Farm Worker</h3>

            <p>Bagodih Agriculture Farm</p>

            <div class="job-info">

                <span><i class="fa-solid fa-location-dot"></i> Bagodih</span>

                <span><i class="fa-solid fa-money-bill-wave"></i> ₹1200 / Day</span>

            </div>

            <button>Apply Now</button>

        </div>

        <div class="job-card">

            <div class="job-top">

                <i class="fa-solid fa-truck"></i>

                <span class="part-time">Part Time</span>

            </div>

            <h3>Driver</h3>

            <p>Village Transport Service</p>

            <div class="job-info">

                <span><i class="fa-solid fa-location-dot"></i> Jainagar</span>

                <span><i class="fa-solid fa-money-bill-wave"></i> ₹18,000 / Month</span>

            </div>

            <button>Apply Now</button>

        </div>

        <div class="job-card">

            <div class="job-top">

                <i class="fa-solid fa-school"></i>

                <span class="full-time">Full Time</span>

            </div>

            <h3> Teacher</h3>

            <p>Private School</p>

            <div class="job-info">

                <span><i class="fa-solid fa-location-dot"></i> Bagodih</span>

                <span><i class="fa-solid fa-money-bill-wave"></i> ₹25,000 / Month</span>

            </div>

            <button>Apply Now</button>

        </div>

    </div>

</section>
<section class="events" id="events">

    <div class="section-title">

        <h2>Upcoming Events</h2>

        <a href="#">View All →</a>

    </div>

    <div class="event-container">

        <div class="event-card">

            <div class="event-date">

                <h2>15</h2>

                <span>JUL</span>

            </div>

            <div class="event-details">

                <h3>Village Sports Competition</h3>

                <p>
                    <i class="fa-solid fa-location-dot"></i>
                    Village Playground
                </p>

                <p>
                    <i class="fa-solid fa-clock"></i>
                    09:00 AM
                </p>

            </div>

            <button>Register</button>

        </div>


        <div class="event-card">

            <div class="event-date">

                <h2>20</h2>

                <span>JUL</span>

            </div>

            <div class="event-details">

                <h3>Panchayat Meeting</h3>

                <p>
                    <i class="fa-solid fa-location-dot"></i>
                    Panchayat Bhawan
                </p>

                <p>
                    <i class="fa-solid fa-clock"></i>
                    11:00 AM
                </p>

            </div>

            <button>Register</button>

        </div>


        <div class="event-card">

            <div class="event-date">

                <h2>05</h2>

                <span>AUG</span>

            </div>

            <div class="event-details">

                <h3>Free Health Camp</h3>

                <p>
                    <i class="fa-solid fa-location-dot"></i>
                    Primary Health Center
                </p>

                <p>
                    <i class="fa-solid fa-clock"></i>
                    10:00 AM
                </p>

            </div>

            <button>Register</button>

        </div>

    </div>

</section>
<section class="education-corner" id="education-corner">

    <div class="section-title">

        <h2>Education Corner</h2>

        <a href="#">View All →</a>

    </div>

    <div class="education-container">

        <div class="education-card">

            <i class="fa-solid fa-book-open"></i>

            <h3>Study Notes</h3>

            <p>
                Download class-wise study notes prepared by teachers.
            </p>

            <a href="#">Read More →</a>

        </div>

        <div class="education-card">

            <i class="fa-solid fa-file-lines"></i>

            <h3>Previous Papers</h3>

            <p>
                Previous year question papers for board and competitive exams.
            </p>

            <a href="#">Download →</a>

        </div>

        <div class="education-card">

            <i class="fa-solid fa-graduation-cap"></i>

            <h3>Scholarships</h3>

            <p>
                Find latest scholarship schemes for school and college students.
            </p>

            <a href="{% url 'scholarship:scholarship_list' %}">
    Explore →
</a>

        </div>

        <div class="education-card">

            <i class="fa-solid fa-briefcase"></i>

            <h3>Career Guidance</h3>

            <p>
                Career counselling and competitive exam preparation resources.
            </p>

            <a href="{% url 'scholarship:scholarship_list' %}">Apply Now →</a>

        </div>

    </div>

</section>
<section class="business" id="business">

    <div class="section-title">

        <h2>Local Business Directory</h2>

        <a href="#">View All →</a>

    </div>

    <div class="business-container">

        <div class="business-card">

            <div class="business-top">

                <div class="business-icon grocery">
                    <i class="fa-solid fa-store"></i>
                </div>

                <span class="open">Open</span>

            </div>

            <h3>Ramesh General Store</h3>

            <p>Groceries • Home Delivery Available</p>

            <div class="business-info">

                <span><i class="fa-solid fa-location-dot"></i> Main Market, Bagodih</span>

                <span><i class="fa-solid fa-phone"></i> +91 9988776655</span>

            </div>

            <div class="business-btn">

                <a href="tel:+919988776655" class="call-btn">Call</a>

                <a href="https://wa.me/919988776655" class="whatsapp-btn">WhatsApp</a>

            </div>

        </div>

        <div class="business-card">

            <div class="business-top">

                <div class="business-icon medical">
                    <i class="fa-solid fa-kit-medical"></i>
                </div>

                <span class="open">Open</span>

            </div>

            <h3>Shiv Medical Store</h3>

            <p>Medicines • First Aid • Health Care</p>

            <div class="business-info">

                <span><i class="fa-solid fa-location-dot"></i> Bus Stand</span>

                <span><i class="fa-solid fa-phone"></i> +91 9123456780</span>

            </div>

            <div class="business-btn">

                <a href="tel:+919123456780" class="call-btn">Call</a>

                <a href="https://wa.me/919123456780" class="whatsapp-btn">WhatsApp</a>

            </div>

        </div>

        <div class="business-card">

            <div class="business-top">

                <div class="business-icon electric">
                    <i class="fa-solid fa-bolt"></i>
                </div>

                <span class="closed">Closed</span>

            </div>

            <h3>Raj Electric Works</h3>

            <p>Electrician • House Wiring</p>

            <div class="business-info">

                <span><i class="fa-solid fa-location-dot"></i> Ward No. 4</span>

                <span><i class="fa-solid fa-phone"></i> +91 9988776655</span>

            </div>

            <div class="business-btn">

                <a href="tel:+919988776655" class="call-btn">Call</a>

                <a href="https://wa.me/919988776655" class="whatsapp-btn">WhatsApp</a>

            </div>

        </div>

    </div>

</section>
<section class="gallery" id="gallery">

    <div class="section-title">

        <h2>Village Gallery</h2>

        <a href="#">View All →</a>

    </div>

    <div class="gallery-container">

        <div class="gallery-card">
       <img src="{% static 'images/gallery1.png' %}" alt="Entrance view of Bagodih Village" loading="lazy">
       <div class="gallery-overlay">

                <h3>Village Entrance</h3>

            </div>

        </div>

        <div class="gallery-card">

            <img src="{% static 'images/gallery2.jpg' %}" alt="Temple" loading="lazy">

            <div class="gallery-overlay">

                <h3>Shiv Temple</h3>

            </div>

        </div>

        <div class="gallery-card">

            <img src="{% static 'images/gallery3.jpg' %}" alt="School" loading="lazy">

            <div class="gallery-overlay">

                <h3>Government School</h3>

            </div>

        </div>

        <div class="gallery-card">

            <img src="{% static 'images/gallery4.jpg' %}" alt="Farm" loading="lazy">

            <div class="gallery-overlay">

                <h3>Green Fields</h3>

            </div>

        </div>

        <div class="gallery-card">

            <img src="{% static 'images/gallery5.jpg' %}" alt="Festival" loading="lazy">

            <div class="gallery-overlay">

                <h3>Village Festival</h3>

            </div>

        </div>

        <div class="gallery-card">

            <img src="{% static 'images/gallery6.jpg' %}" alt="Lake" loading="lazy">

            <div class="gallery-overlay">

                <h3>Village Pond</h3>

            </div>

        </div>

    </div>

</section>
<section class="contact" id="contact">

    <div class="section-title">

        <h2>Contact Us</h2>

        <a href="#">Get Directions →</a>

    </div>

    <div class="contact-container">

        <div class="contact-info">

            <h3>Bagodih Gram Panchayat</h3>

            <p>
                <i class="fa-solid fa-location-dot"></i>
                Bagodih, Jainagar, Koderma, Jharkhand
            </p>

            <p>
                <i class="fa-solid fa-phone"></i>
                +91 9876543210
            </p>

            <p>
                <i class="fa-solid fa-envelope"></i>
                bagodih@gmail.com
            </p>

            <p>
                <i class="fa-solid fa-clock"></i>
                Monday - Saturday
                <br>
                10:00 AM - 5:00 PM
            </p>

            <div class="social-links">

                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>

                <a href="#"><i class="fa-brands fa-instagram"></i></a>

                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>

                <a href="#"><i class="fa-brands fa-youtube"></i></a>

            </div>

        </div>

        <div class="map">

            <iframe
                src="https://www.google.com/maps?q=Bagodih,Jainagar,Jharkhand&output=embed"
                allowfullscreen=""
                loading="lazy">
            </iframe>

        </div>

    </div>

</section>
<section class="village-overview" id="village-overview">

    <div class="section-title">

        <h2>Village at a Glance</h2>

        <p>Key information about Bagodih Gram Panchayat</p>

    </div>

    <div class="overview-grid">

        <div class="overview-card">

            <i class="fa-solid fa-users"></i>

            <h2>7,500</h2>

            <span>Population</span>

        </div>

        <div class="overview-card">

            <i class="fa-solid fa-school"></i>

            <h2>4</h2>

            <span>Schools</span>

        </div>

        <div class="overview-card">

            <i class="fa-solid fa-shop"></i>

            <h2>75</h2>

            <span>Registered Shops</span>

        </div>

        <div class="overview-card">

            <i class="fa-solid fa-building"></i>

            <h2>1</h2>

            <span>Primary Health Center</span>

        </div>

        <div class="overview-card">

            <i class="fa-solid fa-road"></i>

            <h2>32 km</h2>

            <span>Road Network</span>

        </div>

        <div class="overview-card">

            <i class="fa-solid fa-seedling"></i>

            <h2>1200+</h2>

            <span>Farmers</span>

        </div>

        <div class="overview-card">

            <i class="fa-solid fa-graduation-cap"></i>

            <h2>850</h2>

            <span>Students</span>

        </div>

        <div class="overview-card">

            <i class="fa-solid fa-handshake"></i>

            <h2>18</h2>

            <span>Self Help Groups</span>

        </div>

    </div>

</section>
</main>



<script src="{% static 'js/script.js' %}"></script>

<footer class="footer">

    <div class="footer-container">

        <div class="footer-box">

            <h2>BAGODIH</h2>

            <p>
                Hamara Gaon, Hamari Pehchan. <br>
                Digital Village Portal connecting villagers,<br>
                Panchayat and local businesses.
            </p>

            <div class="footer-social">

                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>

                <a href="#"><i class="fa-brands fa-instagram"></i></a>

                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>

                <a href="#"><i class="fa-brands fa-youtube"></i></a>

            </div>

        </div>


        <div class="footer-box">

            <h3>Quick Links</h3>

            <ul>

                <li><a href="#">Home</a></li>

                <li><a href="#">Schemes</a></li>

                <li><a href="#">Complaints</a></li>

                <li><a href="#">Jobs</a></li>

                <li><a href="#">Marketplace</a></li>

            </ul>

        </div>


        <div class="footer-box">

            <h3>Useful Links</h3>

            <ul>

                <a href="#schemes">Schemes</a>
                <a href="#jobs">Jobs</a>
                <a href="#business">Directory</a>
                <a href="#marketplace">Marketplace</a>
                <a href="#emergency">Emergency</a>

            </ul>

        </div>


        <div class="footer-box">

            <h3>Emergency</h3>

            <p><strong>Police:</strong> 100</p>

            <p><strong>Ambulance:</strong> 108</p>

            <p><strong>Fire:</strong> 101</p>

            <p><strong>Hospital:</strong> +91 9876543210</p>

        </div>

    </div>


    <div class="footer-bottom">

        <p>

            © 2026 Bagodih Village Portal |
            Designed & Developed by Sonu & Keerthi ❤️

        </p>

    </div>

</footer>


<button id="topBtn">

    <i class="fa-solid fa-arrow-up"></i>

</button>

</body>

</html>